

<br><br>
<img src="http://kopywritingkourse.com/images/nevtrest.png">
<br><br><br><br>

<font size="4">
<p>Nevtrest allows you to upload cool pictures and share them with your friends.</p>
</font>
<br>
<br>
<p>Signup <%= link_to "here", "#" %>  </p>
<br>
<br>
Sincerely, <br>
Neville Medhora - Creator of Nevtrest
<br>
<br>
<br>
<b>P.S.</b> Make sure to visit <a target=="new" href="http://www.kopywritingkourse.com">KopywritingKourse.com</a> for more! 